Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [19]:
import pandas as pd

In [20]:
data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [21]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)

print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [40]:
import pandas as pd
data1 = {'Name':['Alice','Bob','Claire'], 'Age': [25,30,27], 'Gender':['Female','Male','Female']}

In [68]:
df = pd.DataFrame(data1)

In [69]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns, similar to a spreadsheet or a SQL table. It is one of the primary data structures in Pandas and is very versatile for handling and analyzing data. Each column in a DataFrame can be of a different data type (e.g., numeric, string, boolean) and can have a name associated with it.

On the other hand, a pandas.Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a list or an array but with additional functionalities and capabilities. A Series has an index that labels each element in the Series, allowing for easy and efficient data access and manipulation.

In [72]:
import pandas as pd

# Example 1: Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
df.dtypes

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Name      object
Age        int64
Gender    object
dtype: object

In [73]:
# Example 2: Creating a Series
ages = pd.Series([25, 30, 27], name='Age')
print("\nSeries:")
print(ages)

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions for manipulating data in a DataFrame. Some common functions include:

(1) head(): Returns the first n rows of the DataFrame. It is useful for quickly inspecting the structure and content of the DataFrame.
Example: df.head(5) returns the first 5 rows of the DataFrame.

(2) tail(): Returns the last n rows of the DataFrame. It is useful for quickly checking the end of the DataFrame.
Example: df.tail(3) returns the last 3 rows of the DataFrame.

(3) info(): Provides a concise summary of the DataFrame, including the number of non-null values and the data types of each column. It helps in understanding the overall structure of the DataFrame.
Example: df.info() displays the summary information of the DataFrame.

(4) describe(): Generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles. It provides insights into the distribution of numerical data.
Example: df.describe() provides the statistical summary of the DataFrame.

(5) sort_values(): Sorts the DataFrame by one or more columns. It allows you to arrange the data in a specific order based on column values.
Example: df.sort_values('Age') sorts the DataFrame by the 'Age' column in ascending order.

(6) groupby(): Groups the DataFrame by one or more columns and allows you to perform aggregate functions on the grouped data. It is useful for data grouping and summarization.
Example: df.groupby('Gender')['Age'].mean() calculates the average age for each gender in the DataFrame.

(7) drop(): Removes rows or columns from the DataFrame. It is used to eliminate unnecessary or redundant data.
Example: df.drop('Gender', axis=1) removes the 'Gender' column from the DataFrame.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among the options provided, the mutable nature applies to the DataFrame and Panel in Pandas. The Series object, on the other hand, is immutable.

A DataFrame is mutable because it allows modifications to its rows, columns, and values. You can add or remove columns, change column names, modify values, and perform various data manipulations.

A Panel is also mutable, similar to a DataFrame. It is a three-dimensional data structure in Pandas that can be modified by adding or removing items, changing values, or performing operations on the data.

In contrast, a Series is an immutable data structure in Pandas. Once created, you cannot change the values within a Series directly. You can create a new Series with modified values, but the original Series remains unchanged.

So, the correct answer is Series (immutable), DataFrame (mutable), and Panel (mutable).

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [75]:
import pandas as pd

# Create Series objects
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Create a DataFrame using the Series
data = {'Name': name_series, 'Age': age_series, 'Gender': gender_series}
df = pd.DataFrame(data)

# Print the DataFrame
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female